Body{
    justify-content: center;
    background-image: url('exam.jpg');
    background-repeat: no-repeat;
    color:white;

    

}


/* eeffecting background fade using pseudo objects
/*.demo-wrap{
    position: relative;
}

.demo-wrap:before{
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('exam.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    
}

.demo_content {
    position: relative;
}*/
h1{
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
}
.exm{
    font-size: 50px;
    color:yellow;
    line-height: 0cm;
    font-style: italic;
    
}
.exm_1{
    font-size: 20px;
    text-align: center;
    line-height: 0cm;
}

.exm_2{
    color: black;
    line-height:0.8cm ;
}
.exm_3{
    color: black;
    font-family: cursive;
    font-size: 30px;
}
#btn {
    padding: 5px;
    background-color: blue;
    font-size: smaller;
    font-weight: bold;
  height: 30px;
  width: 150px;
  text-align: center;
  color: azure;
  }
  #btn:hover{
      background-color: chartreuse;
      color: black;
  }

  @keyframes example {
      0% {
          background-image: url('exam.jpg');
      }
      100%{
          background-image: url('cpr.jpg');
      }
    }

    /*.sliding{
        background-repeat: no-repeat;
        height: 200%;
        width:200%px;
        animation-name: example;
        animation-duration: 10s;
        animation-delay: 4s;
        animation-iteration-count: infinite;
    }*/
  /*.wrapper {
      text-overflow: clip;
  }*/
  /*.sliding{
      
    height:960px;
      width: 6000px;
      background-image: url('exam.jpg') repeat-x;
      animation: slide 60s linear infinite;
  }

  @keyframes slide {
      0% {
          transform: translate3d(0, 0, 0);
      }
      100% {transform:  translate3d(-1692px, 0, 0);

      }
  }*/

  /*body {
            animation-name: example;
      animation-duration: 10s;
      animation-delay: 4s;
      animation-iteration-count: infinite;
  }*/